.product{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid #aaa8;
}
.product__header{
    width: 100%;
    height: 250px;
    padding: .8em;
    border-bottom:1px solid #aaa8 ;
}
.product__img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.product__body{
    padding: 1em;
}